.sidebar__logo {
  box-sizing: border-box;
  height: 60px;
  border-bottom: 1px solid #f0f0f0;
}
.sidebar__logo img {}
.sidebar__logo img:first-child {
  margin-top: 22px;
}
.sidebar__logo img:last-child {
  margin-top: 18px;
}